.qs-header__container {
  padding: 30px;
  flex-grow: 1;

  .qs-header__title {
    font-size: 40px;
    font-weight: bold;
  }

  .qs-header__tips {
    overflow: visible;
    font-size: 28px;
    line-height: 1.5;
    word-break: break-word;
  }
}

.qs-question__container {
  padding: 30px;
}

.qs-bottom {
  width: 94%;
  padding: 3%;
}