.questionsheet {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #478de2;
  color: #fff;
  padding: 0 80rpx 100rpx 80rpx;
  display: flex;
  flex-direction: column;
}
.questionsheet .questionsheet-progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 10rpx;
  width: 100%;
  background-color: antiquewhite;
  transition: all ease 0.5s;
}
.questionsheet .questionsheet-title {
  font-size: 50rpx;
  margin: 60rpx 0 100rpx 0;
}
.questionsheet .questionsheet-icon1 {
  position: absolute;
  left: -50rpx;
  top: 100rpx;
  width: 200rpx;
}
.questionsheet .questionsheet-icon2 {
  position: absolute;
  left: 0rpx;
  bottom: 0rpx;
  width: 100%;
  height: 300rpx;
  border-radius: 50% 30% 0 0;
  opacity: 1;
  background: linear-gradient(90deg, #e67253 0%, #ffa38a 100%);
}
.questionsheet .question-card {
  color: #333;
  box-sizing: border-box;
  height: 100%;
  padding: 80rpx 30rpx;
  background-color: #fff;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
}
.questionsheet .question-card .question {
  flex-grow: 1;
}
.questionsheet .question-card .btn-group {
  display: flex;
}
