.qs-page {
  width: 94%;
  height: 96%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .qs-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .qs-header__banner {
      width: 100%;
      height: 80px;
    }
  }
}