@import "../../../../styles/theme.less";

.dialog-btn {
  width: 100%;
  color: @primary-color;
  font-size: 28rpx;
  padding: 20rpx 0;
  text-align: center;
}

.dialog-btn:active {
  background-color: @bg-disabled;
}

.select-child--content {
  min-height: 0 !important;
}

.select-child--modal__header {
  font-size: 28rpx;
  margin-bottom: 32rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-child--modal__container {
  width: 100%;
  height: 100%;
  padding: 0 40rpx;
  box-sizing: border-box;
}
