.qs-code {
  position: relative;

  .insert-code {
    padding: 48rpx;
  }

  .qs-code--box__container {
    display: flex;

    .qs-code--box {
      display: flex;
      align-items: center;

      input {
        width: 40rpx;
        height: 36rpx;
        margin-right: 24rpx;
        padding-bottom: 8rpx;
        border: 2rpx solid #cccccd;
        text-align: center;
        color: #333333;
        font-size: 32rpx;
        border-radius: 10rpx;
      }

      &:first-child {
        margin-left: 30rpx;
      }
    }
  }

  .is-input {
    border-color: #079aff !important;
  }
  .ipt {
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .c-blue {
    color: #079aff;
  }
}
