@import "../../../styles/tokens.less";

.questionnaire-bottom-actions__row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: @space-3;
}

.questionnaire-bottom-actions__button {
  flex: 1;
}
