@import "../../../../styles/tokens.less";

.report-page-shell {
  .page-shell__content {
    background: transparent;
  }
}

.report-page-content {
  min-height: 100%;
  padding-bottom: @space-6;
  box-sizing: border-box;
}
