.s-bg-primary {
  background-color: #fff !important;
}
.s-bg-secondary {
  background-color: #f5f5f5 !important;
}
.s-color-primary {
  background-color: #478de2 !important;
}
.s-text-color-primary {
  color: #478de2 !important;
}
.s-color-secondary {
  background-color: #e5f0ff !important;
}
.s-text-color-secondary {
  color: #e5f0ff !important;
}
.s-color-positive {
  background-color: #008000 !important;
}
.s-text-color-positive {
  color: #008000 !important;
}
.s-color-warning {
  background-color: #fef8cb !important;
}
.s-text-color-warning {
  color: #fef8cb !important;
}
.s-color-negative {
  background-color: #f44336 !important;
}
.s-text-color-negative {
  color: #f44336 !important;
}
.s-icon-primary {
  color: #444 !important;
}
.s-icon-secondary {
  color: #b4b4b4 !important;
}
.s-text-primary {
  color: #333 !important;
}
.s-text-secondary {
  color: #666 !important;
}
.s-text-tips {
  color: #999 !important;
}
.s-text-positive {
  color: #009e00 !important;
}
.s-text-warning {
  color: #fef8cb !important;
}
.s-text-negative {
  color: #f44336 !important;
}
.s-pl-xs {
  padding-left: 8rpx;
}
.s-pr-xs {
  padding-right: 8rpx;
}
.s-pt-xs {
  padding-top: 8rpx;
}
.s-pb-xs {
  padding-bottom: 8rpx;
}
.s-pa-xs {
  padding: 8rpx;
}
.s-px-xs {
  padding: 8rpx 0px;
}
.s-py-xs {
  padding: 0px 8rpx;
}
.s-ml-xs {
  margin-left: 8rpx;
}
.s-mr-xs {
  margin-right: 8rpx;
}
.s-mt-xs {
  margin-top: 8rpx;
}
.s-mb-xs {
  margin-bottom: 8rpx;
}
.s-ma-xs {
  margin: 8rpx;
}
.s-mx-xs {
  margin: 8rpx 0px;
}
.s-my-xs {
  margin: 0px 8rpx;
}
.s-pl-sm {
  padding-left: 20rpx;
}
.s-pr-sm {
  padding-right: 20rpx;
}
.s-pt-sm {
  padding-top: 20rpx;
}
.s-pb-sm {
  padding-bottom: 20rpx;
}
.s-pa-sm {
  padding: 20rpx;
}
.s-px-sm {
  padding: 20rpx 0px;
}
.s-py-sm {
  padding: 0px 20rpx;
}
.s-ml-sm {
  margin-left: 20rpx;
}
.s-mr-sm {
  margin-right: 20rpx;
}
.s-mt-sm {
  margin-top: 20rpx;
}
.s-mb-sm {
  margin-bottom: 20rpx;
}
.s-ma-sm {
  margin: 20rpx;
}
.s-mx-sm {
  margin: 20rpx 0px;
}
.s-my-sm {
  margin: 0px 20rpx;
}
.s-pl-md {
  padding-left: 32rpx;
}
.s-pr-md {
  padding-right: 32rpx;
}
.s-pt-md {
  padding-top: 32rpx;
}
.s-pb-md {
  padding-bottom: 32rpx;
}
.s-pa-md {
  padding: 32rpx;
}
.s-px-md {
  padding: 32rpx 0px;
}
.s-py-md {
  padding: 0px 32rpx;
}
.s-ml-md {
  margin-left: 32rpx;
}
.s-mr-md {
  margin-right: 32rpx;
}
.s-mt-md {
  margin-top: 32rpx;
}
.s-mb-md {
  margin-bottom: 32rpx;
}
.s-ma-md {
  margin: 32rpx;
}
.s-mx-md {
  margin: 32rpx 0px;
}
.s-my-md {
  margin: 0px 32rpx;
}
.s-pl-lg {
  padding-left: 48rpx;
}
.s-pr-lg {
  padding-right: 48rpx;
}
.s-pt-lg {
  padding-top: 48rpx;
}
.s-pb-lg {
  padding-bottom: 48rpx;
}
.s-pa-lg {
  padding: 48rpx;
}
.s-px-lg {
  padding: 48rpx 0px;
}
.s-py-lg {
  padding: 0px 48rpx;
}
.s-ml-lg {
  margin-left: 48rpx;
}
.s-mr-lg {
  margin-right: 48rpx;
}
.s-mt-lg {
  margin-top: 48rpx;
}
.s-mb-lg {
  margin-bottom: 48rpx;
}
.s-ma-lg {
  margin: 48rpx;
}
.s-mx-lg {
  margin: 48rpx 0px;
}
.s-my-lg {
  margin: 0px 48rpx;
}
.s-pl-xl {
  padding-left: 64rpx;
}
.s-pr-xl {
  padding-right: 64rpx;
}
.s-pt-xl {
  padding-top: 64rpx;
}
.s-pb-xl {
  padding-bottom: 64rpx;
}
.s-pa-xl {
  padding: 64rpx;
}
.s-px-xl {
  padding: 64rpx 0px;
}
.s-py-xl {
  padding: 0px 64rpx;
}
.s-ml-xl {
  margin-left: 64rpx;
}
.s-mr-xl {
  margin-right: 64rpx;
}
.s-mt-xl {
  margin-top: 64rpx;
}
.s-mb-xl {
  margin-bottom: 64rpx;
}
.s-ma-xl {
  margin: 64rpx;
}
.s-mx-xl {
  margin: 64rpx 0px;
}
.s-my-xl {
  margin: 0px 64rpx;
}
.s-pl-none {
  padding-left: 0rpx;
}
.s-pr-none {
  padding-right: 0rpx;
}
.s-pt-none {
  padding-top: 0rpx;
}
.s-pb-none {
  padding-bottom: 0rpx;
}
.s-pa-none {
  padding: 0rpx;
}
.s-px-none {
  padding: 0rpx 0px;
}
.s-py-none {
  padding: 0px 0rpx;
}
.s-ml-none {
  margin-left: 0rpx;
}
.s-mr-none {
  margin-right: 0rpx;
}
.s-mt-none {
  margin-top: 0rpx;
}
.s-mb-none {
  margin-bottom: 0rpx;
}
.s-ma-none {
  margin: 0rpx;
}
.s-mx-none {
  margin: 0rpx 0px;
}
.s-my-none {
  margin: 0px 0rpx;
}
.s-text-h1 {
  font-size: 72rpx;
  font-weight: 700;
}
.s-text-h2 {
  font-size: 56rpx;
  font-weight: 700;
}
.s-text-h3 {
  font-size: 48rpx;
  font-weight: 700;
}
.s-text-h4 {
  font-size: 36rpx;
  font-weight: 700;
}
.s-text-h5 {
  font-size: 32rpx;
  font-weight: 700;
}
.s-text-h6 {
  font-size: 28rpx;
  font-weight: 700;
}
.s-text-body1 {
  font-size: 32rpx;
}
.s-text-body2 {
  font-size: 28rpx;
}
.s-text-body3 {
  font-size: 24rpx;
}
.s-row {
  display: flex;
  flex-direction: row;
}
.s-col {
  display: flex;
  flex-direction: column;
}
.s-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.s-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.s-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.s-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.s-no-wrap {
  white-space: nowrap;
}
.s-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
page {
  width: 100vw;
  height: 100vh;
}
